  <!-- ===== Navigation Bar ===== -->
  <nav>
    <a href="/" class="logo">
      <img src="/images/logo.png" alt="MyBlogs Logo" />
      MyBlogs
    </a>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/about">About Us</a></li>
      <li><a href="/blogs/create">Create Blog</a></li>
      <li><a href="/contact">Contact Us</a></li>
    </ul>
  </nav>